.container {
  padding: var(--spacing-lg) 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);
}

.header {
  padding: 0 var(--spacing-lg);
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: space-between;
}
