.navContainer {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-xl);
  min-height: 40px;
  min-width: 40px;
}

.navContent {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.indicator {
  background-color: red;
}

.link {
  color: var(--color-text-primary);
  text-decoration: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-sm);
  transition: 300ms ease-in-out;
  border: 1px solid transparent;

  &:hover {
    color: var(--color-text-secondary);
    background-color: var(--color-bg-secondary);
  }
}

.selected {
  font-weight: 500;
  border-color: var(--color-border);
}
